<div style = "display: flex; gap: 2rem;">
     <span style="font-weight: bold; font-size: 30px;" >Parking slot application</span>
     <%=  link_to "Create a Car", new_car_path, style: "display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none;"%><br>
     <%=  link_to "get car by color", cars_path, style: "display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none;"%><br>
</div>

<body>
    <%= flash[:notice] %>
    <%= flash[:alert] %>

<div style = "display: flex; gap: 5rem ;" >
  
  <div style="margin-top: 10%; border: 2px solid #ccc; padding: 10px; margin-bottom: 10%;">
    <h2>Park a Car</h2>
    <%= form_tag(park_car_parking_slots_path, method: "post") do %>
      <div>
        <%= label_tag(:registration_number, "Car Registration Number:") %>
        <%= text_field_tag(:registration_number) %>
      </div>
      <%= submit_tag("Park Car") %>
    <% end %>
  </div>
  
  <div style="margin-top: 3%">
    <table>
        <% @parking_slots.each_slice(6) do |parking_slot_per_row| %>
        <tr>
            <% parking_slot_per_row.each do |parking_slot| %>
              <% if parking_slot.is_empty %>
                <td style="background-color: red; color: white;border: solid black;">
                  <%= parking_slot.ticket.car.registration_number %>
                </td>
              <%else%>
                <td>
                  <%= parking_slot.id %>
                </td>
              <%end%>  
            
            <% end %>
        </tr>
        <% end %>
    </table>
  </div>

  <div style="margin-top: 10%; border: 2px solid #ccc; padding: 10px; margin-bottom: 10%;">
    <h2>remove car</h2>
    <%= form_tag(remove_car_parking_slots_path, method: "delete") do %>
      <div>
        <%= label_tag(:registration_number, "Car Resgistration Number") %>
        <%= text_field_tag(:registration_number) %> 
      </div>
      <%= submit_tag("Remove Car") %>
    <% end %>  
  </div>

</div>



<style>
table {
    border-collapse: collapse;
    width: 600px;
    margin: 0 auto;
  }

  td {
    padding: 40px;
    text-align: center;
    border: 1px solid red;
  }

  th {
    padding: 8px;
    text-align: center;
    border: 1px solid red;
    background-color: #f2f2f2;
  }
</style>
</body>

